body {
  background-color: #23252C;
  color: white;
}

.App {
  text-align: center;
  background-color: #1A1B21;
  width: 50%;
  margin: 0 auto;
}

.name {
  margin-bottom: 0;
}

.title {
  color: #F3BF99;
  margin: 5px;
}

.email {
  margin-top: 10px;
}

button {
  width: 100px;
  height: 35px;
  margin: 10px;
  border-radius: 7px;
  border-style: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  cursor: pointer;
}

.email-btn {
  background-color: white;
  border: 1px #D1D5DB;
  left: 30%;
}

.linkedin-btn {
  background-color: #5093E2;
  color: white;
  right: 30%;
}

.about {
  display: inline-block;
  position: relative;
  margin-top: 30px;
  justify-content: left;
}

.footer {
  background-color: #161619;
  display: flex;
  justify-content: space-around;
  padding: 30px 100px;
}

.para {
  margin: 20px 10px;
}